In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
clothing=pd.read_csv("clothing.csv")

In [5]:
clothing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   product name            2000 non-null   object
 1   product price           2000 non-null   object
 2   old price               1100 non-null   object
 3   discount percentage     1100 non-null   object
 4   rating                  1750 non-null   object
 5   number of people rated  1750 non-null   object
dtypes: object(6)
memory usage: 93.9+ KB

In [6]:
clothing.describe()

,product name,product price,old price,discount percentage,rating,number of people rated
count,2000,2000,1100,1100,1750,1750
unique,36,29,20,19,35,35
top,Trendy Offwhite Up And Down Wears,"₦ 16,000 - ₦ 20,000","₦ 25,000",26%,3.9 out of 5(20),3.9 out of 5(20)
freq,150,450,150,100,50,50

In [7]:
clothing.duplicated().sum()

1960

In [8]:
clothing.shape

(2000, 6)

In [9]:
(clothing.isna().sum()/clothing.shape[0])*100

product name               0.0
product price              0.0
old price                 45.0
discount percentage       45.0
rating                    12.5
number of people rated    12.5
dtype: float64

In [13]:
oldprice_mean= round(clothing["old price"].mean(),0)
clothing.oldprice.fillna(oldprice_mean,inplace=True)

TypeError: can only concatenate str (not "int") to str

In [4]:
clothing

,product name,product price,old price,discount percentage,rating,number of people rated
0,Kingskartel Kings-Kartel Stylish Sweatshirt & ...,"₦ 19,003 - ₦ 19,999","₦ 25,000",24%,3.9 out of 5(20),3.9 out of 5(20)
1,Kingskartel Kings-Kartel Stylish Hoodie & Jogg...,"₦ 19,997 - ₦ 19,999","₦ 25,000",20%,3.6 out of 5(18),3.6 out of 5(18)
2,Danami 2 In One Sweat Shorts- Black & Light Grey,"₦ 12,529","₦ 13,999",11%,4.1 out of 5(35),4.1 out of 5(35)
3,Three In One Smart Chinos Black + Chocolate B...,"₦ 37,700 - ₦ 38,999",NaN,NaN,NaN,NaN
4,Trousers Men's 2-in-1 Short Sleeved T-shirt An...,"₦ 9,850","₦ 14,350",31%,3.5 out of 5(62),3.5 out of 5(62)
...,...,...,...,...,...,...
1995,Best Styled Up And Down Wears With Prints Pk1,"₦ 16,500 - ₦ 20,000",NaN,NaN,4.3 out of 5(4),4.3 out of 5(4)
1996,Stylish Multicolor Unisex Up And Down Wears Pk3,"₦ 16,000 - ₦ 20,000",NaN,NaN,4.6 out of 5(5),4.6 out of 5(5)
1997,Stylish Multicolor Unisex Up And Down Wears Pk3,"₦ 14,000 - ₦ 17,500",NaN,NaN,4 out of 5(1),4 out of 5(1)
1998,Stylish Multicolor Unisex Up And Down PK13,"₦ 16,000 - ₦ 20,000",NaN,NaN,4 out of 5(2),4 out of 5(2)
1999,Men's Fashion Loose Casual Pants-White,"₦ 15,496","₦ 23,872",35%,NaN,NaN